.banner-div {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}

.banner-img-div {
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
}

.banner-image{
    max-height: 600px;
}

.banner-image img {
    width: 500px;
    height: auto;
}

.banner-image div img {
    width: 250px;
    height: auto;
}

.banner-image div {
    position: relative;
    z-index: 10;
    top: -200px;
    left: -120px;
}

.section-title-responsive {
    text-align: right;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.banner-p {
    width: 353px;
    margin-left: auto;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {

    .section-title-responsive {
        text-align: center;
        padding-right: 0px;
    }

    .banner-img-div {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .banner-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-img-div img {
        width: 300px;
    }

    .banner-image div img {
        width: 150px;
        height: auto;
    }

    .banner-image div {
        position: relative;
        top: -120px;
        left: -50px;
    }

    .banner-p {
        width: 353px;
        margin: auto;
        font-size: medium;
    }

}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {

    .section-title-responsive {
        text-align: center;
        padding-right: 0px;
    }

    .banner-img-div {
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .banner-img-div img {
        width: 400px;
    }

    .banner-image div img {
        width: 218px;
        height: auto;
    }

    .banner-div {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-image div {
        position: relative;
        top: -150px;
        left: -100px;
    }

    .banner-p {
        width: 478px;
        margin: auto;
    }


}