.funny-video-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-title {
    text-align: center;
}

.section-title h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}

p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.game-card-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    justify-items: center;
    gap: 10px;
}


.game-card-div div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-image{
    position: relative;
    width: 90%;
    cursor: pointer;
}


.image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: relative;
    top: -351px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 352px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 15px;
  }
  
  .container-image:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }


.game-card-div img {
    width: 300px;
    height: auto;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    .game-card-div {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    .game-card-div {
        grid-template-columns: repeat(2, 1fr);
    }
}